.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.number {
    text-shadow: 0 0 16px rgba(51, 51, 255, 0.25),
    0 0 8px rgba(51, 51, 255, 0.25),
    0 4px 32px rgba(51, 51, 255, 0.5);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 50%;
    position: relative;
}

.icon::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #1C1C21;
    border-radius: 50%;
}

.icon svg {
    position: relative;
    z-index: 1;
    width: 48px;
    height: 48px;
}